/__pycache__# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/

# Test Reports and Data
allure-results/
allure-history-backup/
reports/
*.log

# IDE and OS specific files
.vscode/
.idea/
.DS_Store